services:
  gitbee:
    container_name: gitbee
    image: gitbee
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    mem_limit: 1g
    cpus: "2.0"
